*{
    margin: 0;
    padding: 0;
}

body{

background-color: aqua;
}

.centre{
    border: 1px solid black;
    max-width: 60vw;
    margin: auto;
    background-color: white;
}
h1{
    text-align: center;
    padding: 40px;
    margin: 13px 18px;
    background-color: blue;
    color: white;
}
.details{
    padding: 15px 60px;

}

.details label{
    font-size: 1.5em;
}

#btn{
    color: white;
    background-color: blue;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}